.App {
  text-align: center;
}

.frame {
  align-items: center;
  display: flex;
  justify-content: center;
  margin: 0;
}

.container {
  align-items: center;
  display: flex;
  height: 220px;
  justify-content: center;
  margin: 5em 0;
}

.card {
  background-color: #8686867e;
  border-radius: 2em;
  padding: 0em 1em;  
}